body, html{
	margin: 0;
	padding: 0;
}

ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background-color: #EBF2B3;
}

/* kolory */
.jasnyZolty {
    color: #EBF2B3;
}

.ciemnyZolty{
    color: #E5F280;
}

.jasnyZielony{
    color: #7FBF3F;
}

.zielony {
    color: #518C27;
}

.ciemnyZielony{
    color: #325920;
}


header{
	position: relative;

	background-image: url('../img/bg1.jpg');
	-webkit-background-size: cover;
	background-size: cover;

	padding-bottom: 46%;
}

header .center{
	padding-top: 50px;
	position: relative;
	z-index: 1000;
}

header .menu{
	background-color: #325920;
	border-radius: 5px;
	overflow: hidden;
    margin: 10px;
}


header .menu ul{
	display: table;
	width: 100%;
}

header .menu ul li{
	display: table-cell;
}

header .menu ul li a{
	color: #EBF2B3;
	height: 50px;
	line-height: 50px;
	display: block;
	padding: 0 10px;
	text-align: center;
}

header .menu ul li a:hover{
	background-color: rgba(255, 255, 255, .1);
}

header nav{
	float: right;
	width: 80%;
}



/* Slider */
header .bg-slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

header .bg-slider .bg-slides-container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

header .bg-slider .bg-slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}


header .bg-slider .nav{
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	z-index: 20;
	top: 50%;
	margin-top: -30px;
	border: 2px solid #EBF2B3;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	color: #EBF2B3;
	font-size: 20px;
}

header .bg-slider .nav:hover{
	background-color: rgba(255, 255, 255, .2);
}

header .bg-slider .nav:before{
	line-height: inherit;
}

header .bg-slider .nav.prev{
	left: 5%;
}

header .bg-slider .nav.next{
	right: 5%;
}

