body, html{
	margin: 0;
	padding: 0;
}

ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background-color: #EBF2B3;
}

/* kolory */
.jasnyZolty {
    color: #EBF2B3;
}

.zolty{
    color: #E5F280;
}

.jasnyZielony{
    color: #7FBF3F;
}

.zielony {
    color: #518C27;
}

.ciemnyZielony{
    color: #325920;
}


header{
	position: relative;

	background-image: url('../img/bg1.jpg');
	-webkit-background-size: cover;
	background-size: cover;

	padding-bottom: 46%;
}

header .center{
	padding-top: 50px;
	position: relative;
	z-index: 1000;
}

.menu,
.small-menu{
    background-color: #325920;
    border-radius: 5px;
}

.menu{
	overflow: hidden;
    margin: 10px;
}

.menu ul{
	display: table;
	width: 100%;
}

.menu ul li{
	display: table-cell;
}

.menu ul li a{
	color: #EBF2B3;
	height: 80px;
	line-height: 80px;
	display: block;
	padding: 0 10px;
	text-align: center;
    font-size: 22px;
}

.small-menu ul li a{
	color: #EBF2B3;
    line-height: 25px;
	height: 50px;
	padding: 0 10px;
	text-align: center;
}

.menu ul li a:hover,
.small-menu ul li a:hover{
	background-color: rgba(255, 255, 255, .1);
}

header nav.menu{
	float: right;
	width: 80%;
}

header nav.small-menu{
	float: right;
	width: 40%;
}


.small-menu .icon-menu{
    display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	z-index: 20;
	top: 50%;
	margin-top: -45px;
	border: 2px solid #325920;
	border-radius: 10%;
	cursor: pointer;
	text-align: center;
	color: #325920;
	font-size: 24px; 
    float: right;
    
}

.icon-menu-list{
    display: none;
}

@media screen and (min-width: 31em){ /* 480px */
    nav.small-menu{
        display: none;
    }
}

@media screen and (max-width: 30em){ /* 480px */
    nav.menu{
        display: none;
    }
    .bg-slider .nav.prev{
        display: none;
    }
    .bg-slider .nav.next{
        display: none;
    }
}
    





/* Slider */
header .bg-slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

header .bg-slider .bg-slides-container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

header .bg-slider .bg-slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}


header .bg-slider .nav{
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	z-index: 20;
	top: 50%;
	margin-top: -30px;
	border: 2px solid #EBF2B3;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	color: #EBF2B3;
	font-size: 20px;
}

header .bg-slider .nav:hover{
	background-color: rgba(255, 255, 255, .2);
}

header .bg-slider .nav:before{
	line-height: inherit;
}

header .bg-slider .nav.prev{
	left: 5%;
}

header .bg-slider .nav.next{
	right: 5%;
}



.section1, .video-player{
	background-color: #7FBF3F;
	border-top: 10px solid #E5F280;
	border-bottom: 10px solid #E5F280;
	overflow: hidden;
	padding: 50px 0;
}

.section1 article{
	overflow: hidden;
	color: #EBF2B3;
	position: relative;
	padding-top: 70px;
	height: 260px;	
}

.section1 article:before{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 80px;
	margin: 0;
}

.section1 article h1{
	text-align: center;
}

.section1 article p{
	text-align: justify;
}

.center{
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}


/* Grid Styles*/
.grid{
	width: 100%;
}

.grid:before, /* Clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.grid:after{
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}


.grid-item{
	float: left;
	padding-left: 20px;
	padding-right: 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.one-whole{ width: 100%; }
.one-half{ width: 50%; }
.one-third{ width: 33.333%; }


@media screen and (min-width: 30em){ /* 480px */
	.one-whole-medium{ width: 100%; }
	.one-half-medium{ width: 50%; }
	.one-third-medium{ width: 33.333%; }
}

@media screen and (min-width: 60em){ /* 960px */
	.one-whole-large{ width: 100%; }
	.one-half-large{ width: 50%; }
	.one-third-large{ width: 33.333%; }
}


/* Section 2 */
.section2{
	background-color: #EBF2B3;
}

.section2 .center{
	background-color: #EBF2B3;
	-webkit-box-shadow:  0px 0px 5px 2px rgba(0, 0, 0, .1);
    box-shadow:  0px 0px 5px 2px rgba(0, 0, 0, .1);
    padding-top: 10px;
}
/* Slider*/
.section2 .slider{
	position: relative;
}

.section2 .slider .viewport{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.section2 .slider .slides-container{
	//width: 300%;
}

.section2 .slider .slides-container > *{
	float: left;
	//width: 33.333%;
}

#section2 .slider ul{
	display: block;
	width: 100%;
	position: absolute;
    bottom: 5%;
	left: 0;
	text-align: center;
    color:black;
}

.section2 .slider ul li{
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	padding: 10px;
	margin-right: 10px;
}

.section2 .slider ul li:last-child{
	margin-right: 0;
}

.section2 .slider ul li span{
	display: block;
	width: 10px;
	height: 10px;
	background-color: #518C27;
	border-radius: 50%;
}

.section2 .slider ul li.active,
.section2 .slider ul li:hover{
	border: 2px solid #518C27;
	padding: 8px;
}

.video-player{
	overflow: hidden;
}

.video-player h1{
	font-size: 20px;
}

/* Semi Fuild Layout*/

/*.video-player .left{
	float: left;
	width: 500px;
}

.video-player .right{
	margin-left: 520px;
	width: auto;
}*/


.video-player .left{
	margin-right: 330px;
    margin-left: 1%;
	width: auto;
}

.video-player .right{
	width: 300px;
	float: right;
}

.video-player .left h1{
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.video-player .left p{
	text-align: justify;
	font-size: 18px;
	line-height: 21px;
}

.video-player .cartoons{
	background-color: #333;
    border-radius: 2%;
    margin-right: 4%;
}

.video-player .cartoons li{
	border-bottom: 1px solid #a3a3a3;  
}

.cartoons li:hover{
	background-color: rgba(255, 255, 255, .1);
}

.video-player .cartoons li a{
	color: #EBF2B3;
	height: 40px;
	line-height: 36px;
	font-size: 16px;
	display: block;
	padding: 0 10px;
}


/* Youtube & Video RWD Snippet */
.fluid-video-wrapper{
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.fluid-video-wrapper iframe,
.fluid-video-wrapper object,
.fluid-video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}



@media screen and (max-width: 480px){
    .bg1{
        background-image: url('../img/480x285/slide1.jpg');
    }
    .bg2{
        background-image: url('../img/480x285/slide2.jpg');
    }
    .bg3{
        background-image: url('../img/480x285/slide3.jpg');
    }
}

@media screen and (min-width: 481px){
    .bg1{
        background-image: url('../img/960x570/slide1.jpg');
    }
    .bg2{
        background-image: url('../img/960x570/slide2.jpg');
    }
    .bg3{
        background-image: url('../img/960x570/slide3.jpg');
    }
}

@media screen and (min-width: 960px){
    .bg1{
        background-image: url('../img/bg1.jpg');
    }
    .bg2{
        background-image: url('../img/bg2.jpg');
    }
    .bg3{
        background-image: url('../img/bg3.jpg');
    }
}


img{
    width: 100%;
    height: auto;
}

#picture1, #picture2{
    max-width: 960px;
    margin: 20px auto;
    margin-right: 10px;
}

#picture2{
    height: 400px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 480px){
    #picture2{
        background-image: url('../img/480x285/zimbardo.jpg');
    }
}

@media screen and (min-width: 481px){
    #picture2{
        background-image: -webkit-image-set(url('../img/960x570/zimbardo.jpg') 1x);
    }
}
@media screen and (min-width: 961px){
    #picture2{
        background-image: -webkit-image-set(url('../img/zimbardo.jpg') 1x);
    }
}
